{{!-- Default layout - Include the front-end dependecies for the project here --}}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{#if currentUser}}
    <!-- <meta http-equiv="refresh" content="10" /> -->
    {{/if}}
    <title>NASP</title>
    <!-- Bootstrap 5.0.0 alpha-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">

    <!-- reference Moment.js library -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js" type="text/javascript"></script>


</head>

<body>
    {{#if currentUser}}
    {{>header}}
    {{/if}}
    <main style="background-color:#f0f0f0;">
        {{{body}}}
    </main>
    {{>footer}}
    <!-- Latest compiled and minified JavaScript -->
    <script src=" https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>



    <!-- form validation -->
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })()
    </script>

    <script type="text/javascript">
        //To handle the events of the submit button

        //Logic for time
        let timeLeft = document.getElementById("setTime");
        time = timeLeft.innerHTML;

        // The data/time we want to countdown to
        let countDownDate = new Date(time);
        countDownDate.setDate(countDownDate.getDate());

        let nw = new Date().getTime();
        let tl = countDownDate.getTime() - nw;
        if (tl < 0) {
            document.getElementById("announceWinner").setAttribute("style", "display:block;visibility:visible")
            document.getElementById("timeLeft").remove();
            document.getElementById("myBidInput").remove();
            document.getElementById("highestBidder").remove();
        }

        if (tl > 0) {
            // Run myfunc every second
            let myfunc = setInterval(function () {

                let now = new Date().getTime();
                let timeleft = countDownDate.getTime() - now;


                // Calculating the days, hours, minutes and seconds left
                let days = Math.floor(timeleft / (1000 * 60 * 60 * 24));
                let hours = Math.floor((timeleft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                let minutes = Math.floor((timeleft % (1000 * 60 * 60)) / (1000 * 60));
                let seconds = Math.floor((timeleft % (1000 * 60)) / 1000);

                // Result is output to the specific element
                document.getElementById("days").innerHTML = days + "d "
                document.getElementById("hours").innerHTML = hours + "h "
                document.getElementById("minutes").innerHTML = minutes + "m "
                document.getElementById("seconds").innerHTML = seconds + "s "

                // Display the message when countdown is over
                if (timeleft < 0) {
                    clearInterval(myfunc);
                    document.getElementById("days").innerHTML = ""
                    document.getElementById("hours").innerHTML = ""
                    document.getElementById("minutes").innerHTML = ""
                    document.getElementById("seconds").innerHTML = ""
                    document.getElementById("end").innerHTML = "Auction over!!";
                    document.getElementById("timeLeft").remove();
                    document.getElementById("myBidInput").remove();
                    document.getElementById("highestBidder").remove();


                }
            }, 1000);

        }

    </script>

</body>

</html>