<h2>Auctioneer</h2>
<h2>Email</h2>
<h2>Phone</h2>
<h3>address</h3>

<h2>Reviews</h2>

<form action="/auctions/{{id}}/reviews" method="POST" class="mb-4">
	<div class="mb-4">
		<label for="Range" class="form-label">Rating</label>
		<input type="range" class="form-range" min="0" max="5" name="review[rating]" id="Range">
	</div>

	<div class="mb-4">
		<label class="form-label" for="review">Review</label>
		<textarea class="form-control" name="review[body]" id="review" cols="15" rows="3"></textarea>
	</div>
</form>