<section class="text-center" style="background-image: url('https://images.unsplash.com/photo-1524535412680-21809efc44e7?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1063&q=80');
	background-repeat: no-repeat; background-size: cover; height: 50vh; width: 100%; max-width: none;
	background-attachment: fixed; background-size: 100% 100%;">
	<div class="row py-lg-5">
		<div class="col-lg-6 col-md-8 mx-auto">
			<h1 class="fw-light">Welcome {{username}}</h1>
			<p class="lead text-muted">We care for your stuff</p>
			<p>
				<a href="/auctions/new" class="btn btn-primary my-2">Create an Auction</a>
			</p>
		</div>
	</div>
</section>

<div class="container">
	<div class="row mb-3 mt-3">
		<div class="col">
			<button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
				aria-expanded="false">
				Categories
			</button>
			<ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
				<li><a class="dropdown-item" href="/auctions">All</a></li>
				<li><a class="dropdown-item" href="/auctions/car">Cars</a></li>
				<li><a class="dropdown-item" href="/auctions/electronic">Electronics and Computer</a></li>
				<li><a class="dropdown-item" href="/auctions/fashion">Fashion, Health and Beauty</a></li>
				<li><a class="dropdown-item" href="/auctions/hobbies">Hobbies, Toys, Outdoors</a></li>
				<li><a class="dropdown-item" href="/auctions/home">Home, Garden and Tools</a></li>
				<li><a class="dropdown-item" href="/auctions/kitchen">Kitchen and Dining</a></li>
			</ul>
		</div>

		<div class="col">
			<form class="d-flex" action="/search" method="GET" novalidate>
				<input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search" name="search">
				<button class="btn btn-outline-success" type="submit">Search</button>
			</form>
		</div>
	</div>
</div>


<div class="container">
	<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
		{{#each auctions as |auction|}}
		<div class="album py-5 bg-light">
			<div class="col">
				<div class="card shadow-sm">
					<img class="bd-placeholder-img card-img-top" width="100%" height="225" role="img"
						aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"
						alt="" src="{{image}}">
					<div class="card-body">
						<p class="card-title">{{title}} </p>
						<div class="d-flex justify-content-between align-items-center">
							<div>
								<a class="btn btn-primary" href="/auctions/{{_id}}">View</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{{/each}}
	</div>
</div>