<div class="container text-center justify-content-center">	
		<h1> Login</h1>
		<form auction="/login" method="POST" class="validate-form" novalidate>
			<div class="mb-3">
				<label class="form-label" for="username">Username</label>
				<input class="from-control" type="text" id="username" name="username" placeholder ="user name" required>				
			</div>

			<div class="mb-3">
				<label class="form-label" for="password">Password</label>
				<input class="from-control" type=password" id="password" name="password" placeholder ="password" required>			
			</div>	
			<button class="btn btn-success">Login</button>
		</form>
		<div>
			 <p>Don't have an account<a href="/register">Register</a></p>
		</div>	
		<footer class ="footer">
			<div class="container">
		 		<span class="text-muted">&NMSU ROCKERS; 2020-2021</span>
		 	</div>
		</footer>
</div>
