<h1> Login</h1>

<form auction="/login" method="POST" class="validate-form" novalidate>
	<div class="mb-3">
		<label class="form-label" for="username">Username</label>
		<input class="from-control" type="text" id="username" name="username" required>
		<div class="validate-feedback">
			Looks good!
		</div>
	</div>


	<div class="mb-3">
		<label class="form-label" for="password">password</label>
		<input class="from-control" type=password" id="password" name="password" required>
		<div class="validate-feedback">
			Looks good!
		</div>
	</div>	
	<button class="btn btn-success">Login</button>
</form>

<div>
	 <p>Don't have an account<a href="/register">Register</a></p>
</div>