<h1> Register</h1>

<form auction="/register" method="POST" class="validate-form" novalidate>
	<div class="mb-3">
		<label class="form-label" for="username">Username</label>
		<input class="from-control" type="text" id="username" name="username" required>
		<div class="validate-feedback">
			Looks good!
		</div>
	</div>

	<div class="mb-3">
		<label class="form-label" for="email">Email</label>
		<input class="from-control" type="email" id="email" name="email" required>
		<div class="validate-feedback">
			Looks good!
		</div>
	</div>

	<div class="mb-3">
		<label class="form-label" for="password">password</label>
		<input class="from-control" type=password" id="password" name="password" required>
		<div class="validate-feedback">
			Looks good!
		</div>
	</div>	
	<button class="btn btn-success">Register</button>
</form>

<div>
 <p>Already have an account <a href="/login">Login</a></p>
 </div>